@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html, body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  max-width: 1200px;
  margin: auto;
  justify-content: flex-end;
}

img {
  width: 100%;
}

.section-head {
  text-align: center;
  font-size: 56px;
  font-weight: bold;
  margin: 20px;
}

.first-head {
  margin-top: 90px;
}

p {
  padding: 10px;
  font-size: 18px;
}

.gallery {
  width: 100%;
  padding: 0;
  margin: 20px 0 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.regular-image, .small-image-container {
  min-width: 400px;
  flex-basis: 50%;
  flex-grow: 1;
}

.small-image-container {
  display: flex;
  flex-wrap: wrap;
}

.big-image {
  flex-basis: 100%;
  flex-grow: 1;
}

.small-image {
  flex-basis: 50%;
  flex-grow: 1;
}

.gallery div img {
  height: 100%;
}