@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html, body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

img {
  width: 100%;
}

.swiper-slide img {
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.workshop {
  position: relative;
  text-align: center;
  margin: 60px 0 0 0;
}

.workshop img {
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
}
.workshop-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.workshop-link div {
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
}

.workshop-link a {
  border: 2px solid black;
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

.promoSwiper {
  margin-top: 70px;
  width: 100%;
  height: 42vw;
}

.swiper-button-next,
.swiper-button-prev {
  color: red !important;
}

.swiper-pagination-bullet-active {
  background-color: red !important;
}

.promo-text {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  font-weight: bold;
}

.promo-text-small {
  color: red;
  font-size: 36px;
  font-weight: normal;
  font-style: italic;
}

@media screen and (max-width: 1080px) and (min-width: 720px) {
  .promo-text {
    top: 16%;
    font-size: 36px;
  }

  .promo-text-small {
    font-size: 24px;
  }
}
@media screen and (max-width: 720px) {
  .promo-text {
    top: 20%;
    font-size: 24px;
  }

  .promo-text-small {
    font-size: 18px;
  }
}
.products-head {
  text-align: center;
  font-size: 56px;
  font-weight: bold;
  margin: 20px;
}

.productsSwiper {
  width: 100%;
  height: 320px;
}

.product-slide {
  width: 600px !important;
}

.product {
  width: 100%;
  height: 100%;
  margin: 5%;
  border-radius: 8px;
  text-align: left;
  background-color: #DDDDDD;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.125);
}

.product-image {
  display: inline-block;
  width: 60%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.product-image img {
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}

.product-description {
  vertical-align: bottom;
  color: white;
  display: inline-block;
  height: 100%;
  width: 38.5%;
  margin: 0;
  padding: 0;
}

.product-description div {
  margin: 8px 0px 8px 12px;
}

.product-name {
  font-size: 150%;
  font-weight: bold;
}

.product-price {
  margin-top: 77px;
  display: block;
}

.product-description-text {
  height: 130px;
}

.product-link {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  margin: 8px 0px 8px 12px;
  background-color: white;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

#product1 {
  background-color: #8FD6E1;
}

#product2 {
  background-color: #270082;
}

#product3 {
  background-color: #141E61;
}

#product4 {
  background-color: #423F3E;
}

#product5 {
  background-color: #950101;
}

#product6 {
  background-color: #B3541E;
}

.products-buttons {
  margin: 15px;
  text-align: center;
}

.products-buttons a {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  padding: 4px;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  vertical-align: middle;
  color: black;
}

.button {
  width: 40px;
  height: 29px;
  font-weight: bold;
  color: white;
  background-color: black;
}

.button img {
  height: 100%;
  width: auto;
}

.button-catalogue:hover {
  background-color: #DDDDDD;
}

.button:hover {
  background-color: #666666;
}

@media screen and (max-width: 600px) {
  .product-slide {
    width: 480px !important;
    font-size: 90%;
  }

  .product-description-text {
    height: 150px;
  }
}
.info {
  max-width: 1200px;
  margin: auto;
  font-size: 18px;
}

.info a {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

.info p {
  padding: 10px;
}

ul {
  margin-left: -10px;
}