footer {
  background-color: #F4F4F4;
  padding: 20px 0;
}

footer img {
  width: 100%;
}

.footer-contacts {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  align-items: center;
}

.footer-logo, .phone {
  padding: 10px;
  flex-grow: 1;
  flex-basis: 10%;
  text-align: center;
}

.phone {
  min-width: 200px;
  padding: 10px;
  flex-basis: 25%;
  font-size: 24px;
  font-weight: bold;
}

.footer-info {
  flex-basis: 45%;
  flex-grow: 1;
  padding: 10px;
}

.footer-line, .footer-bottom-text {
  margin: auto;
  max-width: 1200px;
  width: 100%;
}

.footer-line div {
  height: 1px;
  background-color: black;
  margin: 10px;
}

.footer-bottom-text div {
  padding-left: 10px;
}